*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #0f0f0f;}

body{
  font-family: 'NanumSquare';
  font-size: 17px;
  line-height: 24px;
  color: #0f0f0f;
}
.header{border-bottom: 1px solid #0f0f0f;}
.header_inner{
  width: 1320px; height: 150px;
  margin: 0 auto;
  padding: 15px 0;
  box-sizing: border-box;
  background-color: #fff;
  position: relative;
}
.header_inner h1{text-align: center; padding-top: 2px;}

.menu{
  position: absolute;
  top: 98px;
  left: 0px;
}
.nav> li{float: left;}
.nav> li:hover>a{color:#d67474; font-weight: bold;}
.nav> li> a{
  display: block;
  padding-right: 35px;
}
.nav li:nth-child(2) a{font-weight: bold; color:#d67474;}
.my{
  position: absolute;
  top: 96px;
  right: 0;
}
.my ul li{float: left; padding-right: 50px;}
.my ul li:last-child{padding: 0;}
.my ul li:hover a{color: #93bd93; font-weight: bold;}
/*ν—¤λ”*/

.content .top_box{
  width: 100%; overflow: hidden;
  position: relative;
}
.content .top_box p{
  font-size: 40px;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}
.content .top_box img{width: 100%; display: block;}

.product{
  width: 1280px;
  overflow: hidden;
  margin: auto;
}
.tab{
  width: 130px;
  height: 650px;
  background-color: #fff;
  border-right: 1px solid #666;
  float: left;
  position: relative;
}
.tab ul{
  position: absolute;
  top: 65px; right: 0;
}
.tab ul li{
  display: block;
  width: 130px;
  height: 145px;
  border-radius: 30px 0 0 30px;
  padding-left: 15px;
  box-sizing: border-box;
  font-size: 20px;
  margin-bottom: 20px;
}
.tab ul .sub1{
  text-align: center;
  background:url(../images/g_soap.png) no-repeat #ffe2e2 45px 25px;
}
.sub1 a{
  display: inline-block;
  padding-top: 95px;
  color: #888; font-weight: bold;
}
.tab ul .sub1:hover {
  background:url(../images/soap.png) no-repeat #ffe2e2 45px 25px;
}
.sub1:hover a{
  color: #c17777;
}
/* sub1*/
.tab ul .sub2{
  text-align: center;
  background:url(../images/g_md.png) no-repeat #fff3c1 45px 28px;
}
.sub2 a{
  display: inline-block;
  padding-top: 95px;
  color:#888;
  font-weight: bold;
}
.tab ul .sub2:hover a{color: #dec147; font-weight: bold;}
.tab ul .sub2:hover{
  background:url(../images/md.png) no-repeat #fff3c1 45px 28px;
}

/*sub2*/
.tab ul .sub3{
  text-align: center;
  background:url(../images/body.png) no-repeat #daecda 53px 23px;
}
.sub3 a{ 
  display: inline-block;
  padding-top: 103px;
  color: #80ad80; font-weight: bold;}

/*sub3*/
.right_box{
  width: 1149px;
  height: 650px;
  float: right;
  padding: 65px 0 0 70px;
  box-sizing: border-box;
}
.right_box .r{
  width: 215px;
  height: 290px;
  float: left;
  text-align: center;
  margin-right: 70px;
}
.right_box .r:nth-child(4){margin-right: 0;}
.right_box .r:nth-child(5){margin-right: 0; margin-top: 40px;}
.body{
  width:215px; height:215px; 
  overflow: hidden;
}
.body img{transition: all .5s linear;}
.body:hover img{transform: scale(1.1); filter: brightness(70%);}

.r p{
  padding-top:20px;
  font-size: 19px;
  color: #6c6b6b;
}
.r:hover p{color: #80ad80; font-weight: bold;}

.banner2{
  width: 1300px;
  height: 200px;
}
.banner2 div{width: 640px; float: left;}
.banner2 div img{display: block;}
.banner2 div:nth-child(1){margin-right: 20px;}

/*ν‘Έν„°*/
.footer_top{
  width: 100%;
  background-color: #e5e5e5;
}

.sns{
  width: 1320px; height:90px;
  margin: 0 auto; 
  position: relative;
}
.sns ul{
  position: absolute;
  top: 25px; left: 50%;
  transform: translateX(-50%);
}
.sns ul li{float: left; margin-right: 20px;}
.sns ul li:hover img{
  transform: translateY(-10px);
}
.sns ul li img{
  width:50px;
  transition: all 1s;
}

.footer_bottom{
  width: 100%;
  background-color: #666;
}
.company{
  width: 1320px;
  margin: 0 auto;
  padding: 30px 0; 
  box-sizing: border-box;
  text-align: center;
}
.company ul{padding-top: 25px;}
.company ul li{color: #444;}
