*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #000;}

/* 탭메뉴 꾸미기 */
.tab{
  width:1230px; 
  margin: 90px auto 0;
}
.tabnav{
  width:1230px; 
  overflow: hidden;
}
.tabnav li{
  width: 410px;
  float: left;
}
.tabnav li a{ 
  display: block;
  padding: 30px 0 20px 0;
  text-align: center;
  border-bottom: 1px solid #655b46;
  position: relative;
  z-index: 2;
  font-size: 23px;
}

/* 탭메뉴 클릭했을 때 변화 꾸미기 */

.tabnav li .active{
  border: 1px solid #655b46;
  border-bottom: 1px solid #fff; 
  position: relative;
  background-color:#baeeba46;
}
/* .tabnav li:nth-child(1) .active span{
  display: inline-block;
  height: 10px;
  width: 160px;
  background:#f6c4c0;
  position: absolute;
 top: 42px; 
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.tabnav li:nth-child(2) .active span{
  display: inline-block;
  height: 10px;
  width: 150px;
  background:#ffeda3;
  position: absolute;
  top: 42px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.tabnav li:nth-child(3) .active span{
  display: inline-block;
  height: 10px;
  width: 120px;
  background:#c9ebc9;
  position: absolute;
  top: 42px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
} */
/* 탭컨테츠 꾸미기 */
